@import "includes/mq";

.article-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}

.article-search {
	padding: 25px 0;
}

.article-search__clear {
	display: none;

	&.-show {
		display: block;
	}
}