@import "includes/mq";

.filter-container {
  background: #262a33;
  right: 0;
  padding: 35px 35px;
  z-index: 101;
  opacity: 0;
  max-width: 300px;
  margin-left: auto;
  margin-top: 0;
  position: relative;
  transition: opacity 0.8s ease-in;

  .-show & {
    opacity: 1;
    transition: opacity 1s ease-in;
  }

  .filter-title {
    text-transform: uppercase;
    font-size: 20px;
    font-family: MetricWeb, sans-serif;
    color: #fcd0b1;
    padding: 20px 0;
    width: 100%;
    border-bottom: 2px solid #fcd0b1;
    margin-bottom: 30px;
  }

}
.filter-wrap-container {
  width: 100%;
  max-width: 1570px;
  position: fixed;
  z-index: 99;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 35px;
  display: none;
  height: 100%;

  &.-show {
    display: block;

  }
}

.filter-container-underlay {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
  z-index: 50;
  .-show &{
    display: block;

    &:before {
      content: '';
      display: block;
      width: 20%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      right: -20%;
      top: 0;
    }
    &:after {
      content: '';
      display: block;
      width: 20%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      left: -20%;
      top: 0;

    }
  }
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
}

.filter-main-title {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-family: MetricWeb, sans-serif;
  margin-bottom: 15px;
  font-weight: 500;
}

.filter-input__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  input {
    max-width: calc(100% - 30px);
    flex-basis: calc(100% - 30px);
    height: 25px;
    margin-bottom: 10px;
    outline: none;
    border: none;
  }

  button {
    width: 30px;
    background: transparent;
    color: #fcd0b1;
    font-size: 15px;
    line-height: 1;
    outline: none;
    border: none;
    padding: 0 5px;
    font-weight: bold;
  }
}

.filter-container__close {
  border: 2px solid white;
  color: white;
  opacity: 0;
  position: absolute;
  right: 15px;
  font-size: 15px;
  font-family: MetricWeb, sans-serif;
  padding: 10px 15px;
  background-color: transparent;
  transition: opacity 0.5s ease-in;

  &.-show {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
}

.filter-platform, .filter-products, .filter-sector {
  label {
    color: white;
    margin-left: 20px;
    font-family: MetricWeb, sans-serif;
  }
}

.filter-platform__input {
  margin-bottom: 10px;
}

.filter-sector__input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.filter-client__dropdown {
  width: 100%;
  padding:0 5px;
  font-size: 12px;
  border: 1px solid white;
  text-transform: uppercase;
  border-radius: 0;
  height: 34px;
  appearance: none;
  cursor: pointer;
  max-width: 290px;
}