@import "includes/mq";

header {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 100;
  background-color: transparent;
  max-height: 35px;
  height: 35px;

  &.-scrolling {
    background-color: white;
    opacity: 1;
    box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 0.5s cubic-bezier(0.2, 0.8, 0.2, 0.8);
  }
}

.header-logo {
  cursor: pointer;
}

.header-logo__img {
  height: 64px;
  width: 46px;
  opacity: 1;
  margin-top: 5px;

  &.-scrolling {
    opacity: 0;
    height: 0;
    transition: opacity 0.5s cubic-bezier(0.2, 0.8, 0.2, 0.8);
  }
}

.header-logo__img-word {
  height: 30px;
  width: 30px;
  opacity: 1;
  margin-top: 3px;
}


.header-burger-wrapper {
  padding-right: 30px;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    width: 60px;
    height: 36px;
    z-index: 0;
    top: 0;
  }

  &:hover {
    &:before {
      background: rgba(103, 103, 103, 0.5);
    }

    path, circle, g, rect, svg {
      stroke: white;
      fill: white;
    }
  }

  &.open {
    background-color: #262a33;

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: #262a33;
      width: 60px;
      height: 46px;
      z-index: 0;
      top: 0;
    }

    path, circle, g, rect, svg {
      stroke: white;
      fill: white;
    }
  }

  svg {
    position: absolute;
    max-width: 26px;
    top: 50%;
    transform: translate(50%, -50%);
    padding-left: 2px;

    path, circle, g, rect, svg {
      stroke: black;
      fill: black;
    }
  }
}

.header-filter-container {
  opacity: 0;

  &.-filtering {
    opacity: 1;
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1510px;
  margin: 0 auto;
  width: 100%;
}

.header-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
  padding-top: 4px;

  &.-show {
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
}

.header-filter-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-filter__home {
  font-family: MetricWeb, sans-serif;
  font-weight: 600;
  position: relative;
  margin-right: 5px;
  padding: 0 5px;
}

.header-filter__search {
  font-family: MetricWeb, sans-serif;
  font-weight: 500;
  position: relative;
  margin-right: 5px;
  padding: 0 5px;

  &:before {
    content: '›';
    display: block;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
  }
}

.header-btn__contact {
  width: 50px;
  height: 31px;
  position: relative;
  cursor: pointer;

  &:hover {
    &:before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(103, 103, 103, 0.5);
      width: 60px;
      height: 41px;
      z-index: 0;
      top: -10px;
      left: -10px;
    }

    path, circle, g, rect, svg {
      stroke: white;
    }
  }

  svg {
    position: absolute;
    max-width: 30px;
    right: 50%;
    transform: translate(35%);
  }

  &.open {
    background-color: #262a33;
    transition: background-color 0.5s ease-in;

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: #262a33;
      width: 60px;
      height: 46px;
      z-index: 0;
      top: -10px;
      left: -10px;
    }

    path, circle, g, rect, svg {
      stroke: white;
    }
  }
}

.header-btn__menu {
}

body {
  margin: 0;
  padding: 0;
}


* {
  margin: 0;
  padding: 0;
}

.header-filter__item {
  padding: 0 10px;
  font-family: MetricWeb, sans-serif;
  color: grey;
}

.header-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-filter__product {
  margin: 0 5px;
  padding: 0 5px;
  font-family: MetricWeb, sans-serif;
  position: relative;

  &:before {
    content: '›';
    display: block;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
  }
}

.header-filter__platform {
  margin: 0 5px;
  padding: 0 5px;
  font-family: MetricWeb, sans-serif;
  position: relative;

  &:before {
    content: '›';
    display: block;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
  }
}

.header-filter__sector {
  margin: 0 5px;
  padding: 0 5px;
  font-family: MetricWeb, sans-serif;
  position: relative;

  &:before {
    content: '›';
    display: block;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
  }
}

.header-filter__clear {
  margin: 0 5px;
  font-family: MetricWeb, sans-serif;
  text-decoration: underline;
  cursor: pointer;
}