@import "includes/mq";

.hero-banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &:after {
    content: '';
    display: block;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    position: absolute;
  }

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}

.hero-banner__loader {
  display: block;

  &.-hide {
    display: none;
  }
}

.hero-banner__content {
  position: absolute;
  text-align: center;
  color: white;
  z-index: 2;
  font-family: MetricWeb, sans-serif;
  max-width: 850px;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);

  h1 {
    opacity: 0;
    animation: HeroText 3s 0.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    margin-bottom: 40px;
    font-size: 24px;
  }
  h2 {
    font-weight: 200;
    opacity: 0;
    animation: HeroText 3s 0.5s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    margin-bottom: 35px;
    font-size: 24px;
  }
}

.hero-banner-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner__arrow {
  max-height: 70px;
  z-index: 23;
  max-width: 50px;
  margin-top: 40px;
  cursor: pointer;
  font-weight: 200;
  animation: bounce 2s 0.8s forwards infinite;
  position: absolute;
  display: none;

  &.-show {
    display: block;
    transition: opacity 1s ease-in;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes HeroText {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
